html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    box-sizing: border-box;
    background-image: url(./img/botw-korok-forrest.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* *{FOR ALIGNING AND TROUBLESHOOTING
    border: 1px solid black;
} */

a{
    text-decoration: none;
    color: #1b2e2e;
}

.header{
    display: flex;
    background-color: #8cd548;
    max-height: 50px;
    align-items: center;
    padding: 0 10px;
    color: #1b2e2e;
    border-bottom: solid 2px #1b2e2e;
}


.logo{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    /* padding-left: 25px; */
}

.header img{
    margin: 0 20px;
}

.head-right-links{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    color: #1b2e2e;
}

ul{
    display: flex;
    gap: 24px;
    list-style: none;
    font-size: 18px;

}

.head-box{
    display: flex;
    flex-grow: 1;
    flex-basis: 400px;
    align-items: center;
    justify-content: center;
    /* background-color: forestgreen; */
}

.head-blurb{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 3;
    flex-basis: 1;
    align-items: center;
    /* justify-content: center; */
    background-color: #60a6a6bd;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    border: solid 2px #1b2e2e;
    padding: 0px 10px 25px 10px;
    margin-left: 50px;
    color: #1b2e2e;
}

.head-button{
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 8px;
    color: #1b2e2e;
    background-color: #8cd548;
    border: solid 2px #1b2e2e;
}

.content{
    font-size: 18px;
}

.head-img{
    display: flex;
    align-items: center;
    flex-shrink: 1;
    justify-content: center;
}

.info-box{
    display: flex;
    flex-grow: 1;
    flex-basis: 400px;
    flex-direction: column;
    align-items: center;
    background-color: #8cd548bd;
}

.info-box-head{
    display: flex;
    flex-grow: 1;
    max-height: 100px;
    font-size: 24px;
    width: auto;
    color: #1b2e2e;
}

.info-box-content{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0 200px;
    flex-grow: 4;
}

.fun-fact{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    justify-content: flex-start;
    gap: 20px;
}

.fact-img{
    display: flex;
    flex-basis: 200px;
    flex-grow: 1;
    max-height: 200px;
    border: solid 2px #1b2e2e;
    border-radius: 20px;
}

.fact-content{
    display: flex;
    font-size: 16px;
    text-align: center;
    color: #1b2e2e;
}

.quote-box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 400px;
    align-items: center;
    justify-content: center;
}

.quote-content{
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    justify-content: center;
    width: 600px;
    border: solid 2px #1b2e2e;
    border-radius: 10px;
    height: fit-content;
    background-color: #60a6a6bd;
    color: #1b2e2e;
}

.quote{
    display: flex;
    font-style: italic;
    font-size: 24px;
    justify-content: center;
    margin: 0;
    /* background-color: #60a6a6bd; */
    border-radius: 10px;
    padding: 10px 15px;
}

.quote-ref{
    display: flex;
    align-self: flex-end;
    margin: 10px;
    border-radius: 15px;
    padding: 5px 10px;
}

.signup-box{
    display: flex;
    flex-grow: 1;
    flex-basis: 350px;
    justify-content: center;
    align-items: center;
}

.signup-box-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 1;
    /* align-self: center; */
    min-width: 700px;
    background-color: #8cd548bd;
    border-radius: 10px;
    min-height: 200px;
    border: solid 2px #1b2e2e;
}

.signup-content{
    display: flex;
    flex-direction: column;
    color: #1b2e2e;
    max-width: 500px;
    /* text-align: center; */
    flex-wrap: wrap;

    
}

.signup-button-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}

.signup-button{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    color: #1b2e2e;
    background-color: #60a6a6;
    border: solid 2px #1b2e2e;
    padding: 5px 8px;
}

.footer{
    display: flex;
    flex-grow: 1;
    flex-basis: 50px;
    justify-content: center;
    align-items: center;
    background-color: #8cd548;
    border-top: solid 2px #1b2e2e;
    font-size: 18px;
    color: #1b2e2e;
}