html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    box-sizing: border-box;
    background-image: url(./img/satori-mountain-background.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
*{/*FOR ALIGNING AND TROUBLESHOOTING*/
    /* border: 1px solid black; */
}

a{
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
    background-color: #60a6a6;
    max-height: 50px;
    align-items: center;
    padding: 0 10px;
}


.logo{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding-left: 25px;
}

.head-right-links{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

ul{
    display: flex;
    gap: 24px;
    list-style: none;
    font-size: 18px;

}

.head-box{
    display: flex;
    flex-grow: 1;
    flex-basis: 400px;
    align-items: center;
    /* background-color: forestgreen; */
}

.head-blurb{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 3;
    flex-basis: 1;
    align-items: center;
    justify-content: center;
    background-color: #60a6a6db;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    padding: 0px 10px 25px 10px;
    margin-left: 50px;
}

.head-button{
    font-size: 20px;
    border-radius: 10px;
    padding: 5px 8px;
}

.content{
    font-size: 18px;
}

.head-img{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.info-box{
    display: flex;
    flex-grow: 1;
    flex-basis: 400px;
    flex-direction: column;
    align-items: center;
    background-color: #a3ff4dbd;
}

.info-box-head{
    display: flex;
    flex-grow: 1;
    max-height: 100px;
    font-size: 24px;
    width: auto;
}

.info-box-content{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 0 200px;
    flex-grow: 4;
}

.fun-fact{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    justify-content: flex-start;
    gap: 20px;
}

.fact-img{
    display: flex;
    flex-basis: 200px;
    flex-grow: 1;
    max-height: 200px;
}

.fact-content{
    display: flex;
    font-size: 16px;
    text-align: center;
}

.quote-box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 400px;
    align-items: center;
    justify-content: center;
}

.quote-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 600px;
    padding: 25px;
}

.quote{
    display: flex;
    font-style: italic;
    font-size: 24px;
    justify-content: center;
    margin: 0;
    background-color: green;
    border-radius: 10px;
    padding: 10px 15px;
}

.quote-ref{
    display: flex;
    align-self: flex-end;
    margin: 10px;
}

.signup-box{
    display: flex;
    flex-grow: 1;
    flex-basis: 350px;
    justify-content: center;
    align-items: center;
}

.signup-box-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 0;
    align-self: center;
    min-width: 600px;
    background-color: mediumspringgreen;
}

.signup-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.signup-button{
    display: flex;
    

}

.footer{
    display: flex;
    flex-grow: 1;
    flex-basis: 50px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}